
/* Font Styles */ 
@font-face {
  font-family: Kollektif;
  src: url(./fonts/Kollektif.ttf);
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: Kollektif;
  src: url(./fonts/Kollektif-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Kollektif;
  src: url(./fonts/Kollektif-Italic.ttf);
  font-weight: normal;
  font-style: italic;

}


@font-face {
  font-family: Radnika;
  src: url(./fonts/Radnika-Medium.otf);
  font-weight: normal;
  font-style: normal;
}

/* Expanded */
@font-face {
  font-family: PlastoTrial;
  src: url(./fonts/PlastoTrial-Expanded.otf);
  font-weight: normal;
  font-style: normal;
}

/* Thin */
@font-face {
  font-family: PlastoTrial-Thin;
  src: url(./fonts/PlastoTrial-ExtLtExp.otf);
  font-weight: normal;
  font-style: normal;
}

/* Extra Bold */
@font-face {
  font-family: PlastoTrial-ExtraBold;
  src: url(./fonts/PlastoTrial-ExtraBoldExpanded.otf);
  font-weight: bolder;
  font-style: normal;
}

/*  Bold */
@font-face {
  font-family: PlastoTrial-Bold;
  src: url(./fonts/PlastoTrial-ExtraBold.otf);
  font-weight: bolder;
  font-style: normal;
}


body {
  font-family: Kollektif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  overflow: scroll;
  font-weight: normal;
  font-style: normal;

}

.container {
  display: grid;
  min-height: 100vh;
  max-width: 100vw;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 100px 1fr;
}

/* Sidebar Content */
.sidebar {
  background-color: #27272a;
  grid-row: 1/-1;
  display: grid;
  color: white;
  font-size: 0.9rem;
  padding: 20px;
  grid-template-rows: 1fr 2fr 1fr;

}

.sidebar img {
  border-radius: 10px;
  width:70px;
}

.group-1 {
  font-size: 0.8rem;
  padding-top: 20px;
  font-weight: bold;

}

.sidebar-name  {
  font-size: 1.2rem;
  padding-top: 15px;
  padding-bottom: 5px;
}

.sidebar-email {
  color:#a8a8af;
}

.group-2 {
  align-content: start;
}
 .sidebar-option {
  padding-top: 30px;
 }

 .sidebar-option span {
  padding-left: 10px;
  color:#a8a8af;
 }


 .sidebar-option.option1 i {
  color: white;
 }


 .sidebar-option.option1 span {
  color: white;
 }

 .sidebar-option i {
  font-size: 1.2em;
  color:#a8a8af;
 }
 .group-2 span:hover {
  color:white;
}

 .group-3 .option8 {
  padding-top: 90%;
  align-content:flex-end;
  
 }


 /* Header Content */
.header {
  display: grid;
  grid-template-columns: 4fr 1fr;
  align-items: center;

}

.header-title {
  font-size: 2rem;
  font-weight: bold;
}

.header-menu {
  display: grid;
  justify-self: end;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

input[type=text] {
  background: url(./assets/magnifying-glass-solid.svg) no-repeat scroll 10px;
  background-size: 15px;

  border: none;
  border-radius: 10px;
  padding-left: 30px;
  background-color: #eaeaea;
  font-family: Kollektif;
}

.header-search {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.header-notifs:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.header-button:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 20px;
}

.header-notifs {
  color: #4c4c4c;
  background-color: #eaeaea;
  width: 43px;
  border-radius: 7px;
}

.header-notifs .fa-bell:hover {
  animation-name: ckw;
  animation-duration: 0.5s;
}
@keyframes ckw {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

.header-notifs i {
  padding: 13px 14px;
}

.header-button  {
  color: white;
  background-color: #27272a;
  border-radius: 8px;
  width: 130px;
  text-align: center;
  justify-self: center;
  align-self: center;
  padding: 10px;
  font-size: 0.9rem;
}

/* Main Content */
.main-content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 0.2fr 0.7fr 0.3fr;
  gap: 20px;
}

.header, .main-content {
  margin: 0px 40px;
}
.earnings {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  grid-column: 2/3;
  grid-row: 1/3;
  border-radius: 10px;

}

.customer-activity {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  grid-column: 2/3;
  grid-row: 3/-1;
  border-radius: 10px;

}


.sm-card {
  display: grid;
  grid-template-columns: repeat(3, minmax(150px, 1fr));
  gap: 20px;
}

.sm-card .amount {
  font-size: 1.8rem;
}

.sm-card i {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px;
  justify-self: start;
  font-size: 1.2rem;
  margin-right: 0px;
}  
.sm-card .fa-arrow-trend-up, .sm-card .fa-arrow-trend-down {
  background-color: #27272a00;
  justify-self: end;
  margin-right: 0px;

}
.card1, .card2, .card3 {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 13px;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;

}

.sm-card .title {
  align-self: center;
  justify-self:start;
  font-size: 1rem;
  grid-column: 1/-1;
}


.card1 {
  background-color: rgb(218, 235, 250);
}

.card2 {
  background-color: rgb(225, 246, 194);
}

.card3 {
  background-color: rgb(222, 218, 250);
}


/* Top Selling Products */

.lg-card {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;  grid-column: 1/2;
  display: grid;
  grid-template-rows: 0.1 0.9fr;
  padding: 20px;
  border-radius: 10px;
  align-items: center;
}

.lg-card .title {
  padding-bottom: 20px;
  font-size: 1.3em;
  font-weight: bold;
}



th {
  text-align: start;
  color:#a8a8af;
  padding-bottom: 20px;
}

td img {
  width: 45px;
  height: 45px;
  text-align: center;
  justify-self: start;
  vertical-align: middle;
  border-radius: 5px;
  padding-right: 10px;
}

table {
  border-collapse: collapse;
}


 td {
  align-self: start;
  justify-self: start;
  border-bottom:1.1px solid rgb(240, 240, 240);
  
}

/* Earnings Content */

.earnings {
  display: grid;
  grid-template-rows: 0.1fr 0.6fr 0.2fr;
  justify-content: center;
  align-items: center;

}
.earnings, .customer-activity {
  padding: 20px;
}


.earnings-title, .customers-title {
  font-size: 1.3rem;
  font-weight: bold;
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 40px;
  align-content: start;
}


.earnings-title select {
  background-color: #eeecec;
  border-radius: 5px;
  padding: 5px;
  border: none;
  color: #7e7d7d;
  font-family: Radnika;
}

.earnings-labels div {
 padding: 10px;
 font-size: 1.2rem;
}

.earnings-labels i {
  padding-right: 10px;
  }
.icon-1 i {
    background-color: rgb(218, 235, 250);
    }


 .earnings-labels {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
 }

.customer-activity {
  background-color: #2a272a;
  color: white;
  
}

.customers-title i {
  align-self: center;
  justify-self: end;
}

/* Media Styling */ 



/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  

  .container {
    display: grid;
    min-height: 100vh;
    max-width: 100vw;
    grid-template-columns: 60px 1fr;
    grid-template-rows: 100px 1fr;
  }

  .main-content {
    padding: 0px;
    margin: 10px;

  }

  .sidebar-name, .sidebar-email  {
    visibility: hidden
  }

  .sidebar-option > span {
    visibility: hidden;
  }

  .sidebar img {
    width: 40px;
    margin: -10px;
  }
  .sm-card .amount {
    font-size: 1.2rem;
  }

  .sm-card {
    grid-template-columns: 1fr;
  }

  .sm-card .title {
    font-size: 1rem;
  }
  
  .earnings {
    grid-row: 4;
    grid-column: 1;
    
  }


  .customer-activity {
    grid-row: 5;
    grid-column: 1;
  }
  


}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 908px) {
  .container {
    display: grid;
    min-height: 100vh;
    max-width: 100vw;
    grid-template-columns: 60px 1fr;
    grid-template-rows: 100px 1fr;
  }

  .main-content {
    padding: 10px;

  }

 
  .sidebar-name, .sidebar-email  {
    visibility: hidden
  }

  .sidebar-option > span {
    visibility: hidden;
  }

  .sidebar img {
    width: 40px;
    margin: -10px;
  }

  .sm-card.card3 {
    margin: 1px;

  }
  .sm-card .amount {
    font-size: 1.2rem;
  }

  .sm-card .title {
    font-size: 1rem;
  }
  
  .earnings {
    grid-row: 4;
    grid-column: 1;
  }

  .sidebar {
    grid-template-rows: 1fr 1fr 1fr 4fr;
  }

  .header-menu {
    visibility: hidden;
  }

  .customer-activity {
    grid-row: 5;
    grid-column: 1;
  }

}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {


}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {


}